<!DOCTYPE html>
<html>
<head>
  <title>RCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class=flex-container>

  <div class="item sidebar-main" style="height:100%;">
    <span class="glyphicon glyphicon-th-list" style="font-size:28px;" aria-hidden="true"></span>
  </div>

  <div class="dashboard">

    <form class="navbar-form navbar-left">
      <input type="text" class="form-control" placeholder="Search...">
    </form>

    <div id="item navbar" class="navbar-collapse collapse" >
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
              </ul>
    </div>

    <%= yield %>

  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
